<h1 class="text-center">Welcome to suade app</h1>


<div class="container">
    <div class="jumbotron center">

        <div class="text-center col-md-6">
            <div>
                <input class="form-control p-3 m-2" type="text" placeholder="User Name">
            </div>
            <div>
                <input type="password" class="form-control p-3 m-2" placeholder="Password">
            </div>
            <div>
                <input type="text" placeholder="Host Name" class="form-control p-3 m-2">
            </div>

            <div>
                <button [routerLink]="['report-types']" class="btn btn-primary form-control m-2">Login</button>
            </div>


        </div>


    </div>
</div>