<ul class="nav bg-dark mb-3">
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/documentation']">Documentation</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/condition']">Condition</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/metric']">Metric</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " [routerLink]="['/aggrigator']">Aggrigator</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " [routerLink]="['/source']">Source</a>
    </li>
</ul>
<div class="container-fluid">
    <div class="jumbotron">
        <table class="table">
            <thead>
                <tr>
                    <td></td>
                    <td>Total</td>
                    <td></td>
                    <td>Cash and Balances</td>
                    <td>Receivable under reverse repo</td>
                    <td>Renegotiation CD</td>
                </tr>
            </thead>
            <tbody >
                 <tr>
<td ><b>Outstanding amount</b></td> 
<td>1</td>
<td> </td>
<td>
    Account :<a href="#one"> outstanding amount</a><br>
    Loan :<a href="#one"> outstanding amount</a><br>
    Security :<a href="#one"> outstanding amount</a><br>
</td>
<td>
    Account :<a href="#one"> outstanding amount</a><br>
    Loan :<a href="#one"> outstanding amount</a><br>
    Security :<a href="#one"> outstanding amount</a><br>
</td>
<td>
    Account :<a href="#one"> outstanding amount</a><br>
    Loan :<a href="#one"> outstanding amount</a><br>
    Security :<a href="#one"> outstanding amount</a><br>
</td>
                </tr>

                <tr>
                    <td><b>Add: Accreted intrest receivable</b></td>
                    <td>2</td>
                    <td>
                        Account :<a href="#one"> accrued intrest to zero</a><br>
                        Loan :<a href="#one"> accrued intrest to zero</a><br>
                        Security :<a href="#one"> accrued intrest to zero</a><br>
                    </td>
                    <td>
                        Account :<a href="#one"> accrued intrest to zero</a><br>
                        Loan :<a href="#one"> accrued intrest to zero</a><br>
                        Security :<a href="#one"> accrued intrest to zero</a><br>
                    </td>
                    <td>
                        Account :<a href="#one"> accrued intrest to zero</a><br>
                        Loan :<a href="#one"> accrued intrest to zero</a><br>
                        Security :<a href="#one"> accrued intrest to zero</a><br>
                    </td>
                    <td>
                        Account :<a href="#one"> accrued intrest to zero</a><br>
                        Loan :<a href="#one"> accrued intrest to zero</a><br>
                        Security :<a href="#one"> accrued intrest to zero</a><br>
                    </td>
                </tr>
<tr>
    <td><b>Less: Stage 1 loss allowance</b></td>
    <td>3</td>
    <td>
        Loan :<a href="#one"> Impairment amount to zero</a>
   
    </td>
    <td>
Loan :<a href="#one"> Impairment amount to zero</a>
    </td>
    <td>
Loan :<a href="#one"> Impairment amount to zero</a>
    </td>
    <td>
    Loan :<a href="#one"> Impairment amount to zero</a>
    </td>
</tr>
            </tbody>
        </table>
    </div>
</div>