table tr td {
    border: solid 1px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    padding: 10px;
}

.dropdown .dropdown-menu {
	 transition: all 0.5s;
	 overflow: hidden;
	 transform-origin: top center;
	 transform: scale(1, 0);
	 display: block;
}
 .dropdown:hover .dropdown-menu {
	 transform: scale(1);
}
 
a{
    color: blue;
    cursor: pointer;
}