<h1 class="text-center">Welcome to report types</h1>

<div class="container">
    <div style="float: right;"><input type="text" placeholder="User" disabled> <button>Logout</button></div>
    <button [routerLink]="['']">Back to home</button>
    <h2>Report types</h2>
    <div class="m-3">
        <span class="mr-2">Report types</span><input id="searchInput" [(ngModel)]="serachText" type="text" placeholder="Search..."><button (click)="searchReport()">Search</button>
    </div>

    <!-- <table class="table " border="0">
        <thead class="bg-primary">
            <tr>
                <td>
                    Report Name
                </td>
                <td>
                    Report Description
                </td>
            </tr>
        </thead>
        <tbody class="table-striped">

            <ng-container *ngFor="let r of reportData">
                <tr class="button expand">
                    <td><button><span class="sign"></span></button>{{r.report_name}}</td>
                    <td>{{r.data_description}}</td>

                </tr>
                <tr class="button2 expand">
                    <td colspan="2"><button><span class="sign"></span></button>{{r.data_name}}</td>
                </tr>
                <ng-container *ngFor="let c of cellData">
                    <tr *ngIf="r.report_name == c.report_name" class="button3">
                        <td><button><span class="sign"></span></button>{{c.cell_name}}</td>
                        <td>{{c.cell_description}}</td>
                    </tr>
                </ng-container>


            </ng-container>

        </tbody>
    </table> -->


    <table class="table table-striped" id="dataTable" border="0">
        <thead class="bg-primary text-white">
            <tr>
                <th>
                    Report Name
                </th>
                <th>
                    Report Description
                </th>
            </tr>
        </thead>
        <tbody class="table-striped">

            <ng-container *ngFor="let r of reportData">
                <tr class="button">
                    <td><button (click)="toggleReport(r.report_name)" [ngClass]="{'plus' : r.report_name != level, 'minus' :r.report_name == level}"></button>{{r.report_name}}
                    </td>
                    <td>{{r.data_description}} </td>

                </tr>

                <tr *ngIf="level == r.report_name" style="background-color:#cedece;" class="button2">
                    <!-- <td colspan="2"><button (click)="activeCellLevelForReport=r.report_name" class="plus"></button>Cell
                                        </td> -->
                    <td colspan="2"><button (click)="toggleDataForSubData(r.report_name)" [ngClass]="{'plus' : r.report_name != activeDataLevelForReport, 'minus' :r.report_name == activeDataLevelForReport}"></button>Data
                    </td>

                </tr>
                <ng-container *ngFor="let d of dataForReport">
                    <tr style="background-color:#cedece;" class="button2" *ngIf="level && d.report_name == r.report_name && d.report_name == level && activeDataLevelForReport==r.report_name">
                        <td colspan="2"><button>+</button>{{d.data}}
                        </td>
                    </tr>
                </ng-container>

                <tr *ngIf="level == r.report_name" style="background-color:#cedece;" class="button2">
                    <!-- <td colspan="2"><button (click)="activeCellLevelForReport=r.report_name" class="plus"></button>Cell
                    </td> -->
                    <td colspan="2"><button (click)="toggleCellForSubCell(r.report_name)" [ngClass]="{'plus' : r.report_name != activeCellLevelForReport, 'minus' :r.report_name == activeCellLevelForReport}"></button>Cell
                    </td>

                </tr>
                <ng-container *ngFor="let cell of cellForReport">
                    <tr style="background-color:#cedece;" class="button2" *ngIf="level && cell.report_name == r.report_name && cell.report_name == level && activeCellLevelForReport==r.report_name">
                        <td><button (click)="toggleData(cell.cell,cell.report_name,r.report_name)" [ngClass]="{'plus' : cell.report_name != data, 'minus' :cell.report_name == data}"></button>{{cell.cell}}
                        </td>
                        <td>
                            {{cell.cell_description}}
                        </td>
                    </tr>
                    <ng-container *ngFor="let c of cellData">
                        <tr style="background-color: #d8cfcf;" *ngIf="activeCell == c.cell && cell.cell == c.cell && c.report_name == data && c.report_name == r.report_name" class="button3">
                            <td colspan="2"><button (click)="toggleCell(c.cell_name,c.report_name,c.cell)" [ngClass]="{'plus' : c.cell_name != cell, 'minus' :c.cell_name == cell}"></button>{{c.cell_name}}
                            </td>
                            <!-- aggregator etc headers -->
                            <!-- <td>{{c.cell_description}}</td> -->
                        </tr>
                        <ng-container *ngFor="let a of aggregatorData">
                            <!-- *ngIf="a.cell_name == cell && a.report_name == c.report_name &&c.cell_name == 'Aggregator' && r.report_name ==
                            a.report_name && a.report_name == level" -->


                            <tr *ngIf="activeCellLevelForReport == a.report_name 
                            && a.cell == activeToggleCell 
                            && a.report_name == c.report_name 
                            && c.cell_name == 'Aggregator' 
                            && r.report_name == a.report_name 
                            && a.report_name == level" style="background-color: #a79a9a;" class="button3">
                                <td>{{a.aggregator_name}}</td>
                                <td>{{a.aggregator_desc}}</td>

                                {{activeCellLevelForReport }}{{ a.report_name }} {{ a.cell }}{{ activeToggleCell }} {{ a.report_name }}{{ c.report_name}} {{ c.cell_name }}{{ 'Aggregator' }} {{ r.report_name }}{{ a.report_name}} {{ a.report_name }}{{ level}}
                            </tr>
                        </ng-container>
                        <ng-container *ngFor="let m of metricData">
                            <tr *ngIf="m.cell_name == cell && m.report_name == c.report_name && c.cell_name == 'Metric' && r.report_name == m.report_name && m.report_name == level" style="background-color: #a79a9a;" class="button3">
                                <td>{{m.metric_name}}</td>
                                <td>{{m.metric_desc}}</td>
                            </tr>
                        </ng-container>
                        <ng-container *ngFor="let f of fireElementData">
                            <tr *ngIf="f.cell_name == cell && f.report_name == c.report_name && c.cell_name == 'FireElement' && r.report_name == f.report_name && f.report_name == level" style="background-color: #a79a9a;" class="button3">
                                <td>{{f.fire_element_name}}</td>
                                <td>{{f.fire_element_desc}}</td>
                            </tr>
                        </ng-container>
                        <ng-container *ngFor="let cond of conditionData">
                            <tr *ngIf="cond.cell_name == cell && cond.report_name == c.report_name && c.cell_name == 'Condition' && r.report_name == cond.report_name && cond.report_name == level" style="background-color: #a79a9a;" class="button3">
                                <td>{{cond.condition_name}}</td>
                                <td>{{cond.condition_desc}}</td>
                            </tr>
                        </ng-container>
                    </ng-container>
                </ng-container>






            </ng-container>

        </tbody>
    </table>



</div>