table tr td {
    border: solid 1px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    padding: 10px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.outstanding{
background-color: aqua;
}

.accured{
background-color: aqua;
}

.less{
background-color: aqua;
}